@using PWABlog.ViewModels.Admin.autor
@model PWABlog.ViewModels.Admin.autor.AutorIndexViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<!-- Elaboração de uma mensagem correspodende ao tipo de ação realizado no controller-->

@if (Model.Tipo != null)
{
        @switch (Model.Tipo)
        {
            case "Criar":
                <div class="alert alert-primary" role="alert">
                    @Model.Message
                </div>
                break;
            case "Deletar":
                <div class="alert alert-danger" role="alert">
                    @Model.Message
                </div>
                break;
            case "Update":
                <div class="alert alert-primary" role="alert">
                     @Model.Message
                </div>
                break;
        }
}

<!-- Action link para adionar uma nova categoria  -->

@Html.ActionLink("Novo Autor", "Create", "AdminAutor", null, new { @class = "btn btn-primary" })

<!--Lista todas as categorias-->

<table class="table table-bordered ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var autor in Model.Autores)
        {
            <tr>
                <th>@autor.Id</th>
                <th>@autor.Nome</th>
                <th>
                    @Html.ActionLink("Edit","Edit","AdminAutor",new {id = autor.Id})|
                    @Html.ActionLink("Remove","Remove","AdminAutor",new {id = autor.Id})|
                    @Html.ActionLink("View","Details","AdminAutor",new{id = autor.Id})
                </th>
            </tr>
        }
    </tbody>
</table>
